body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    display: inline-block; /* Change from flex to inline-block */
    padding: 10px 20px; /* Add padding */
    margin: 5px 10px; /* Add margin */

    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer;
    width: 90%; /* Adjust width to your preference */
}

/* Add a class for the secondary button */
.action-button {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    background-color: #5e5b5b; /* Secondary button background color */
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    display: none;
}


.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.word {
    font-size: 2rem;
}

.options {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center;
}

.option-group {
    margin-bottom: 10px;
    flex: 1 0 calc(33.33% - 10px); /* Verdeel de ruimte in drie kolommen en laat een beetje ruimte tussen de elementen */
}

.option {
    display: block;
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5px auto; /* Center buttons horizontally */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
}

.option.correct {
    background-color: #28a745;
    color: #fff;
}

.option.incorrect {
    background-color: #dc3545; /* Red color for incorrect answer */
    color: #fff;
}

#checkBtn {
    cursor: pointer;

}
#checkBtn.active {
    background-color: #789cc3;
}

#checkBtn:hover {
    background-color: #0056b3;
}

#extraOptions {
    display: none;
}

#extraOptionBtn{
    display: none;
}