label,
input{
    cursor: pointer;
}

button.selected {
    transform: translateY(2px);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: 2; 
}

.action-button {
    background-color: #007bff;
    color: #fff; 
    background-color: #5e5b5b; 
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    display: none;
    width: 100%;
    justify-content: center;
}

.container {
    max-width: 400px;
    margin: 10px auto;
    text-align: center;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}

.word {
    font-size: 2rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%
}

.option-group {
    margin-bottom: 0px;
    flex: 1 0 0;
    gap: 10px;
}
.options-frame {
    border: 2px solid #ccc;
    padding: 3px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}
.options-frame.correct {
    border: 3px solid green;
}
.options-frame.incorrect {
    border: 3px solid red;
}

div.hidden {
    display: none;
}
.option.filter {
    display: none;
}

.option.hidden {
    display: none;
    height: 0;
    border: none;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    pointer-events: none;
    transition-property: max-height .6s ease;
	transition-duration: .6s;
	transition-timing-function: ease;
}


.option {
    overflow: hidden; 
    display: block;
    font-size: 1rem;
    padding: 10px 8px;
    margin: 5px auto;
    background-color: #fff;
    border: 1px solid #0056b3;
    border-radius: 5px;
    cursor: pointer;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
}

.option.correct {
    background-color: #28a745;
    color: #fff;
}

.option.incorrect {
    background-color: #dc3545;
    color: #fff;
}

.option.missed {
    background-color: #28a745; 
    color: #fff;
}
#checkBtn {
    cursor: pointer;
}
#checkBtn.active {
    background-color: #789cc3;
}

#checkBtn:hover {
    background-color: #0056b3;
}

.options-frame{
    display: flex;
}

#header {
    display: none;
    justify-content: space-between; 
    align-items: top; 
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rotate {
    animation: rotate 0.5s linear;
}

#emoticon {
    font-size: 60px;
    align-self: flex-end;
    transition: transform 0.3s ease-in-out; 
} 
span, #emoticon {
    display: inline-block;
    vertical-align: top; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #1d1d1d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-size: 25px;
}

.sidenav h5 {
    color: #0275ff;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav div:not(.menuHeader) {
    color: #f5f5f5;
    padding: 5px 13px;
}
.sidenav input {
    margin: 10px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


@media (min-width: 900px) {
    .sidenav {
      width: 250px;
      display: none;
    }
    .sidenav.show {
        display: block;
    }
  }

  .menuHeader{
    padding-bottom: 1px;
    padding-top: 10px;
  }
  
  .button-with-x {
    position: relative;
    background-color: transparent;
    color: red;
    font-size: 16px;
    border: 3px solid red;
    text-align: center;
    opacity: 30%;
  }
  
  .button-with-x::before,
  .button-with-x::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  .button-with-x::before {
    background: linear-gradient(to bottom right, red 50%, transparent 50%);
    opacity: 0.3; /* Adjust opacity as needed */
  }
  
  .button-with-x::after {
    background: linear-gradient(to bottom left, red 50%, transparent 50%);
    opacity: 0.3; /* Adjust opacity as needed */
  }
  #nextBtn{
    display: none;
  } 

  .sliding-window {
    text-align: center;
    position: fixed;
    display: block;
    top: 0;
    right: -100%; /* Off-screen by default */
    width: 85%;
    max-width: 400px;
    height: 85%;
    max-height: 500px;
    background: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
    z-index: 40;
    border: 2px solid black; /* Add a border around the sliding window */
    transition: 0.5s;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.3); /* Add a box shadow effect */
    margin: 10px auto;
  }

  
  .scoreButton {
    margin: 5px;
  }